<%- include("partials/header.ejs") %>

<% if(!locals.error) { %>
  <p id="quote"><%- quote %></p>
  <form id="analyze-form">
    <label for="apikey">OpenAI API Key:</label><br>
    <input type="text" id="apikey" name="apikey">
    <input type="submit" vale="Analyze">
  </form>
  <p id="analysis">Awaiting Key</p>
  <script src="/scripts/form-submission.js"></script>
<% } else { %>
  <p><%= error %></p>
<% } %>

<%- include("partials/footer.ejs") %>